@import "tailwindcss";

.head-banner{
  display: flex;
  height: 121px;
  width:auto;
  background-color: #D9D9D9;
  justify-items: center;
}

.head-banner h1 {
  font-size: 40;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a0a0a;
}